.menu-link{
    color: #808080;
    margin-right: 1.25rem; /*Define a margem direita de um elemento.*/
    text-decoration: none;
    text-transform: lowercase; /*Texto em Minúsculo*/
}

.menu-link.ativo {
    color: #333333;
    font-weight: bold;
}

.menu-link:hover{
    text-decoration: underline;
}