header{
    align-items: center; /*Alinha os itens ao centro.*/
    background: #f9f9f9; /*Torna o elemento um flex container automaticamente transformando todos os seus filhos diretos em flex itens.*/ 
    display: flex; /*Torna o elemento um flex container automaticamente transformando todos os seus filhos diretos em flex itens.*/
    justify-content: space-between; /*Cria um espaçamento igual entre os elementos. Mantendo o primeiro grudado no início e o último no final.*/
    padding-left: 2rem;
    padding-right: 2rem;
}

header nav ul{
    display: flex;
}

header nav ul li{
    list-style: none; /*Retirar Ponto*/
}

header nav ul li:last-child a {
    margin-right: 0;
}

header nav ul li a {
    color: #808080;
    margin-right: 1.25rem; /*Define a margem direita de um elemento.*/
    text-decoration: none;
    text-transform: lowercase; /*Texto em Minúsculo*/
}

header nav ul li a#ativo {
    color: #333333;
    font-weight: bold;
}

header nav ul li a:hover{
    text-decoration: underline;
}